.card{
    padding:20px;
    /* border:2px solid black; */
    box-shadow:2px 2px 5px blue;
    border-radius: 20px;
    width:fit-content;
    height: fit-content;
    background-color: white;
}

.card:hover{
    background-color: rgb(191, 202, 211) ;
}

img{
    width: 196px;
    height:200px;  
    margin-bottom: 5px; 
}

.btn{
    padding:2px;
    background-color: aqua;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px; 
    box-shadow: 2px 2px blue;  
    color:rgb(41, 35, 35); 
}