.container{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
}
.butt{
    padding:4px;
    border-radius: 10px;
    width:100%;
    margin:5px 10px;
    box-shadow: 2px 2px blue;  
    color:rgb(41, 35, 35); 
}
h1{
    font-size:30px;
}